<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img{
            height: 400px;
            width: 400px;
        }
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
            <img class="img" src="https://forum.hestiacp.com/uploads/default/original/1X/8592157f8ed594f456bb3eefe8660e1e06ec51fc.png" />

    </div>
</body>
</html>