<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .img{
             width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /
        }
    

    </style>
    <title>Document</title>
</head>
<body>
<div class="container">
    <img  class="img" src="https://media.licdn.com/dms/image/v2/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/article-inline_image-shrink_1500_2232/0/1581099611064?e=1771459200&v=beta&t=u4N0_FQVvuKPaoOxDPgw0lnnLyVPRHzIinfVKfE3Pus"/>

</div>
</body>
</html>