<% layout("/layouts/boilerPlate") %>
<body >
    <form method="post" action="/listings/book" >
        <input type="text" placeholder="enter your name"  />
        <input type="hidden" name="id" value="<%=listId  %>" />
        <button>Submit</button>
    </form>
</body>
