<% layout("/layouts/boilerPlate") %>
<body>
     <% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error[0] %>
  </div>
<% } %>

    <h2 style="text-align:center; margin-top:50px;">Delete Listing</h2>
 
    <form method="post"
          action="/listings/delete?_method=DELETE"
          class="delete-form">

        <label>Listing ID</label>
       

        <input type="text"
               name="id"
               placeholder="Enter Listing ID"
               required><br><br>

        <button type="submit">Delete</button>

    </form>

</body>
</html>