<% layout("/layouts/boilerPlate") %>
<body>
    <h1>All Listings</h1>

    <br><form method="get" action="/listings/create"><button>Create a new List </button></form>
   <form method="get" action="/listings/sort" >
    <select name="sort" onchange="this.form.submit()">
        <option value="">Sort By</option>
        <option value="price_asc">Price: Low to High</option>
        <option value="price_desc">Price: High to Low</option>
        <option value="bookingRate">More booked </option>
        
    </select>
<div class="cards-container">

<% for (let list of listings) { %>

<div class="card" style="width: 18rem;">

  <form method="get" action="/listings/<%=list._id%>">
    <button><img class="img-btn" src="<%= list.image.url %>" class="card-img-top" alt="listingImage"/></button>
  </form>

  <div class="card-body">
      <h5><%= list.title %></h5>
      <p>
        Price: <i class="fa-solid fa-indian-rupee-sign"></i>
        <%= list.price.toLocaleString("en-IN") %>
      </p>
  </div>

</div>

<% } %>

</div>
           
       
</body>
