<form method="get" action="/listings/<%=list._id  %>"><button>See in detail </button></form>
             <form action="/listings/delete?_method=delete" method="post" ><button>
                <input type="hidden" value="<%=list._id  %>" name="id"  />
                Delete the listing </button></form>
                <form method="get" action="/listings/edit/<%=list._id  %>"><button>Edit the listing</button></form>
             <form method="get" action="/listings/book/<%=list._id  %>"><button>Book</button></form>

              <!-- <div>
                
            <h3><%=list.description  %></h3>
            <h3><%=list.location  %></h3>
            <h3></h3>
            <h3>bookingCount: <%=list.bookingCount  %></h3>
            
            <hr>
            </div> -->