<form method="get" action="/listings/<%=list._id  %>"><button>See in detail </button></form>
             <form action="/listings/delete?_method=delete" method="post" ><button>
                <input type="hidden" value="<%=list._id  %>" name="id"  />
                Delete the listing </button></form>
                <form method="get" action="/listings/edit/<%=list._id  %>"><button>Edit the listing</button></form>
             <form method="get" action="/listings/book/<%=list._id  %>"><button>Book</button></form>

              <!-- <div>
                
            <h3><%=list.description  %></h3>
            <h3><%=list.location  %></h3>
            <h3></h3>
            <h3>bookingCount: <%=list.bookingCount  %></h3>
            
            <hr>
            </div> -->


            <!-- show -->
              <h1>About:  </h1>
    <div > <img class="image-show" src="<%=listings.image.url  %>" /></div>
    <!-- <div class="url"><%=listings.image.url  %></div> -->
            <div>
                 <h5> title:  <%=listings.title  %></h5>
            <h5>description:  <%=listings.description  %></h5>
              <h5>price: &#8377 <%=listings.price.toLocaleString("en-IN")  %></h5>
                <h5>country:  <%=listings.country  %></h5>
            <h5>location:  <%=listings.location  %></h5>
            <h5>Bookings: <%= listings.bookingCount  %></h5>
                </div>